<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cemetery Search</title>
</head>
<body>
    <h1>Cemetery Plot Search</h1>
    <p>Enter as many values as are known and leave unknown fields blank. All search fields are optional. Leave all fields blank for a list of all available records.</p>
    <p>Fields are not case-sensitive and partial matches are accepted. For example, entering "mill" in the Last Name field could return records with the last name of "Miller", "Hamill", and "Mill".</p>

    <!-- id for label and name for server -->
    <form action="/search" method="get" id="search-form">
        <div>
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName">
        </div>
        <div>
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName">
        </div>
        <div>
            <label for="birthYear">Birth Year:</label>
            <input type="number" id="birthYear" name="birthYear" min="1700" max="2050">
        </div>
        <div>
            <label for="deathYear">Death Year:</label>
            <input type="number" id="deathYear" name="deathYear" min="1700" max="2050">
        </div>
        <button type="submit">Search</button>
    </form>
    <a href="/loginPage">Login</a>
    <h1>Search Results</h1>
    <% if (records) { %>
        <table>
            <tr>
                <th>MEMORIAL_ID</th>
                <th>TITLE</th>
                <th>SURNAME</th>
                <th>FIRSTNAME</th>
                <th>MIDDLE</th>
                <th>MAIDEN</th>
                <th>BIRTH_DATE</th>
                <th>DEATH_DATE</th>
                <th>AGE</th>
                <th>SECTION</th>
                <th>LOT</th>
                <th>IS_VET</th>
                <th>NOTES</th>
                <th>MOVED_FROM</th>
                <th>MOVED_TO</th>
            </tr>
            <!-- Order of table headers and table data is set and preserved by the SQL query -->
            <% records.forEach((record) => { %>  
                <tr>
                    <% for (let field in record) { %>
                        <td><%= record[field] %></td>
                    <% } %>
                </tr>
            <% }) %>
        </table>
    <%} else { %>
        <p>"No records found."</p> 
    <% } %>
</body>
</html>