<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Cemetery Login</title>
</head>
<body>
    <form action="/" method="GET">
        <button type="submit">Return Home</button>
    </form>
    <h1>Admin Login</h1>
    <p>Authorized personal must login to update cemetery records.</p>
    <h2>Login sessions expire after 10 minutes.</h2>
    <div class="div">
        <form action="/login" method="POST" id="login-form">
            <div class="login-form-Username">
                <label for="username">Username:</label>
                <!-- Optimized for one user -->
                <input type="text" id="username" name="username" value="admin@cemeteryregistry.com" readonly="readonly">
            </div> 
            <div class="login-form-password">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>